<h2> Your MyRecipe </h2>
<br>
<h3><%=@recipe.name %></h3>
<br>
<br>
<p>
<%=@recipe.description %>
<br><h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ing|%>
 <p><%= ing.name %></p>
 <p><%=@ingredient0%>
 <%=@ingredient1%>
 <%=@ingredient2%>
 </p>


    <%end%>
<br>
<a href="/recipes/<%=@recipe.id%>/edit"><button>Edit</button></a>



<form action="/recipes/<%=@recipe.id%>" method="POST">
<input type="hidden" name="_method" value="delete">
<script>
    function ConfirmDelete()
    {
      var x = confirm("Are you sure you want to delete?");
      if (x)
          return true;
      else
        return false;
    }
</script>    

<button Onclick="return ConfirmDelete();" type="submit" name="actiondelete" value="1"><img src="images/action_delete.png" alt="Delete"></button>

</form>






